

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');



*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #ccfff6;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #ebebeb;
    display: flex;
    flex-direction: column;
   align-items: center;
}

h1{
    color: #454646;
}

h2{
    text-align: center;
}

fieldset{
    border: none;
}

span{
    height: 30px;
    width: 30px;
}

.card{
    border-radius: 30px;
    background-color: rgb(213, 146, 222);
    width: 450px;
    padding: 25px;
    display: flex;
    margin-bottom: 20px;
}

.cardLarge{
    flex-direction: column;
}

.cardSmall{
    justify-content: space-between;
}

#password{
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.material-icons.md-36{ 
    font-size: 30px; 
}


.form{
    display: flex;
}

@media (max-width: 480px) {
    .card{
        max-width: 300px;
    }
    .form{
        flex-direction: column;
    }
}